<configuration debug="true">

  <property name="SCHEDULER_DATA" value="C:/sp/jobscheduler_1_8_4216-SNAPSHOT/sp_4216/logs" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS ZZZ}]: [%thread] %logger [%file:%line] - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>${SCHEDULER_DATA}/JadeBSCockpit.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${SCHEDULER_DATA}/JadeBsCockpit.%d.log</fileNamePattern>
      <!-- keep 7 days' worth of history -->
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>
				[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}]: [%thread] %logger [%file:%line] - %msg%n
    	</pattern>
   	</encoder>
  </appender>
  <logger name="com.sos.jade.backgroundservice"  level="debug" additivity="false">
  	<appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT" />
  </logger>
  

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>