<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
<!-- comment this complete configuration to run on Tomcat from the IDE while developing,
	 uncomment for release build to run on embedded Jetty [SP] -->
  <display-name>Vaadin JADE History Viewer configuration (web.xml)</display-name>
	<servlet>
		<servlet-name>vaadinservlet</servlet-name>
		<servlet-class>
			com.vaadin.server.VaadinServlet
		</servlet-class>

		<init-param>
			<param-name>UI</param-name>
			<param-value>com.sos.jade.backgroundservice.JADEHistoryViewerUI</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>vaadinservlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>org.atmosphere.cpr.SessionSupport</listener-class>
	</listener>
	<context-param>
		<param-name>org.atmosphere.cpr.sessionSupport</param-name>
		<param-value>true</param-value>
	</context-param>		

</web-app>
