<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} (%F:%L) [%5p][%t] - [%M] %m%n" /><!-- F:L 
				with spaces to make clickable -->
		</Console>

		<RollingFile name="JadeReportLogAppender"
			fileName="${sys:java.io.tmpdir}/Jade-client.log"
			filePattern="${sys:java.io.tmpdir}/Jade-client-%d{yyyy-MM-dd}.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSSZ}[%c][%-5p]-%m%n"
				charset="UTF-8" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>

		<RollingFile name="JadeReportLogHTMLAppender"
			fileName="${sys:java.io.tmpdir}/Jade-client.html"
			filePattern="${sys:java.io.tmpdir}/Jade-client-%d{yyyy-MM-dd}.html"
			append="false"><!-- only current transfer -->
			<HTMLLayout charset="UTF-8" title="YADE"
				locationInfo="false" fontSize="XXSMALL" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
		<Logger name="org.hibernate" level="fatal" />
		<Logger name="com.mchange.v2" level="fatal" />

		<Logger name="net.schmizz.sshj.transport.random" level="fatal" />
		<Logger name="net.schmizz.concurrent" level="fatal" />
		<Logger name="net.schmizz.sshj.connection.channel"
			level="fatal" />
		<Logger name="net.schmizz.sshj.sftp.PacketReader" level="fatal" />
		<Logger name="net.schmizz.sshj.common.KeyType" level="fatal" />
		<Logger name="net.schmizz.sshj.transport.Encoder" level="fatal" />
		<Logger name="net.schmizz.sshj.transport.Decoder" level="fatal" />
		<Logger name="net.schmizz.sshj.transport.TransportImpl"
			level="info" />


		<Logger name="com.sos" level="debug" />
		<Logger name="sos" level="trace" />
		<Logger name="JadeReportLog" level="info" additivity="false">
			<AppenderRef ref="JadeReportLogAppender" />
			<AppenderRef ref="JadeReportLogHTMLAppender" />
		</Logger>
	</Loggers>
</Configuration>