/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin bs {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  /**********variable definitions here !**********/  
  $border: 1px solid #8B919F;
  
  $round-corners-radius: 8px;

  $round-corners-details-radius: 6px;

  $round-corners-component-radius: 3px;

  $round-corners-menu-radius: 5px;
  
  $default-sos-rabbit-orange: #E77B37;

  $light-sos-rabbit-orange: #F3BFA0;
  
  $default-background-color: #F5F5F5;

  
  /**********style definitions here !**********/  
  
  /***valid for the complete page !***
	background-color: #F5F5F5 !important;
  */
  
  .jadeTitleLabel{
  	font-size: 30pt;
  	font-weight: bold;
  	padding-top: 20px;
  	padding-bottom: 10px;
  	padding-left: 10px;
  	vertical-align: bottom;
  	height: 70px;
  	white-space: nowrap;
  }
  
  .jadePanel{
  	background: none $default-background-color scroll scrollbar !important;
  	overflow: hidden;
  }
  
  .v-panel-content{
  	background-color: $default-background-color !important;
  	overflow: hidden;
  }
  
  .v-layout{
  	padding-bottom: 3px;
  }
 
  .v-select-select{
    border-radius: $round-corners-component-radius;
	-webkit-border-radius: $round-corners-component-radius;
	-moz-border-radius: $round-corners-component-radius;
	-o-border-radius: $round-corners-component-radius;
    border: 1px solid #D2D3D4;
    display: inline-block;
    -webkit-display: inline-block;
    -moz-display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  }
  
  /************ styles for Table Layout ********************/
  .jadeBsTable{
  	border-radius: $round-corners-component-radius;
	-webkit-border-radius: $round-corners-component-radius;
	-moz-border-radius: $round-corners-component-radius;
	-o-border-radius: $round-corners-component-radius;
  }
  
  .jadeBsDetailTable{
  	border-radius: $round-corners-component-radius;
	-webkit-border-radius: $round-corners-component-radius;
	-moz-border-radius: $round-corners-component-radius;
	-o-border-radius: $round-corners-component-radius;
  }
  
  .v-table-table{
  	overflow: visible !important;
  }
  
  .v-table-body{
  	background-color: $default-background-color;
  }
  
  .v-table-row{
  	background-color: #FFFFFF;
  }
  
  .jadeBsDetailTable .v-table-row:hover,
  .jadeBsDetailTable .v-table-row-odd:hover{
 	background: transparent url(../bs/images/table_selected.png) repeat-x;
	color: #000000;
	text-shadow: none;
	font-weight: bold;
  }
  
  .v-table-row-odd{
  	background-color: #EFF0F1;
  }
  
  .v-table .v-selected, 
  .black .v-table .v-selected {
	background: transparent url(../bs/images/table_selected.png) repeat-x;
	color: #000000;
	text-shadow: none;
	font-weight: bold;
  }

  .v-table-focus .v-table-cell-content {
	border-top: 1px dotted #D5D5D5;
	border-bottom: 1px dotted #D5D5D5;
  }

  .v-table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding: 0 6px;
	border-right: 1px solid #d3d4d5;
  }

  .v-table .v-selected .v-table-cell-content {
	border-right-color: #d3d4d5;
  }
  
  .v-table-header-wrap, 
  .white .v-table-header-wrap, 
  .v-table-header-drag {
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
  }

  /************ styles for Status Labels ********************/
   .jadeStatusSuccessLabel{
  	width: 16px;
  	height: 16px;
  	border: 1px solid black;
  	border-radius: $round-corners-radius;
	-webkit-border-radius: $round-corners-radius;
	-moz-border-radius: $round-corners-radius;
	-o-border-radius: $round-corners-radius;
  	background-color: #3FC72C;  
  }
  
  .jadeStatusErrorLabel{
  	width: 16px;
  	height: 16px;
  	border: 1px solid black;
  	border-radius: $round-corners-radius;
	-webkit-border-radius: $round-corners-radius;
	-moz-border-radius: $round-corners-radius;
	-o-border-radius: $round-corners-radius;
  	background-color: #FA3816;  
  }
  
  /************ styles for Country Flag Labels **************/
  .jadeGermanyLabel{
  	width: 20px;
  	height: 20px;
	border: none;
	display: inline-block;
	background: transparent url(../bs/images/de_marble20x20.png);
	cursor: pointer;
  }  

  .jadeUKLabel{
  	width: 20px;
  	height: 20px;
	border: none;
	display: inline-block;
	background: transparent url(../bs/images/gb_marble20x20.png);
	cursor: pointer;
  }  

  .jadeUSLabel{
  	width: 20px;
  	height: 20px;
	border: none;
	display: inline-block;
	background: transparent url(../bs/images/us_marble20x20.png);
	cursor: pointer;
  }  

  .jadeSpainLabel{
  	width: 20px;
  	height: 20px;
	border: none;
	display: inline-block;
	background: transparent url(../bs/images/es_marble20x20.png);
	cursor: pointer;
  }  

  /************ styles for Menu Bars ************************/
  .jadeMenuBar{
/*	height: 23px; */
	text-shadow: none;
	font-weight: bold;
	padding: 0 8px;
 	background: #E5E5E5;
	color: #323336;
  }
  
  .v-menubar .v-menubar-menuitem:hover,
  .jadeMenuBar .v-menubar .v-menubar-menuitem:hover {
	color: #000000;
	text-shadow: none;
  }

  .jadeMenuBar .v-menubar-submenu {
	background: #E5E5E5;
	border: none;
	border-radius: $round-corners-component-radius;
	-webkit-border-radius: $round-corners-component-radius;
	-moz-border-radius: $round-corners-component-radius;
	-o-border-radius: $round-corners-component-radius;
	overflow: hidden;
	padding: 4px 0;
	text-shadow: none;
  }

  .jadeMenuBar .v-menubar-menuitem .v-menubar-submenu{
 	background: #E5E5E5;
	color: #323336;
	text-shadow: none;
  }
  
  .v-menubar .v-menubar-menuitem-selected,
  .v-menubar .v-menubar-submenu .v-menubar-menuitem-selected,
  .v-menubar-submenu .v-menubar-menuitem-selected {
/* 	background: $default-sos-rabbit-orange; */
	background: $light-sos-rabbit-orange;
	color: #000000;
	text-shadow: none;
  }
  
  .jadeMenuBarLayout{
  	background-color: #E5E5E5;
	border: 1px solid #C2C3C4;
  	border-radius: $round-corners-menu-radius;
	-webkit-border-radius: $round-corners-menu-radius;
	-moz-border-radius: $round-corners-menu-radius;
	-o-border-radius: $round-corners-menu-radius;
  	padding-left: 7px;
  }
  
  .jadeMainVLayout{
  	padding-bottom: 10px;
  	margin-bottom: 0px;
  }
  
  /************ styles for Detail Layout ********************/
  .jadeDetailLayout{
	border-bottom-left-radius: $round-corners-radius;
	-webkit-border-bottom-left-radius: $round-corners-radius;
	-moz-border-bottom-left-radius: $round-corners-radius;
	-o-border-bottom-left-radius: $round-corners-radius;
	border-bottom-right-radius: $round-corners-radius;
	-webkit-border-bottom-right-radius: $round-corners-radius;
	-moz-border-bottom-right-radius: $round-corners-radius;
	-o-border-bottom-right-radius: $round-corners-radius;
  	border: 1px solid #C2C3C4;
  	margin-bottom: 0px;
  }
  
  .jadeDetailLayoutNoBorder{
  	border-radius: $round-corners-details-radius;
	color: #000000;
  }
  
  .jadeDetailLayoutNoBorder:hover,
  .jadeDetailLayoutNoBorder:hover .jadeDetailLabel{
	background: $light-sos-rabbit-orange;
	font-weight: bold;
	text-shadow: none;
  }
  
  .jadeDetailLayoutNoBorder:hover .jadeDetailLabelCaption{
	background: $light-sos-rabbit-orange;
	font-weight: bolder;
	text-shadow: none;
  }
  
  .jadeDetailLabel{
  	font-weight: normal;
  	color: black;
  }
  
  .jadeDetailLabelCaption{
	font-weight: bold;
	color: grey;	
	padding-left: 10px;
  }
  
  .jadeImage{
  	cursor: pointer;
  	margin: 2px;
  }
    
  /**************** styles for Buttons ********************/
  .jadeResizeButton,
  .jadeResizeButton .v-button:focus,
  .jadeResizeButton .v-button:active,
  .jadeResizeButton .v-button.v-pressed{
	background-repeat: repeat-x;
	background-image: url(../bs/images/btn_bgr_grey.png);
	border: 1px solid #C2C3C4;
  	border-radius: $round-corners-menu-radius;
	-webkit-border-radius: $round-corners-menu-radius;
	-moz-border-radius: $round-corners-menu-radius;
	-o-border-radius: $round-corners-menu-radius;
	cursor: pointer;
    height: 22px;
  }
  
  .v-button:focus .jadeResizeButton,
  .v-button:active .jadeResizeButton,
  .v-button.v-pressed .jadeResizeButton,
  .v-pressed .jadeResizeButton,
  .jadeResizeButton .v-button:focus,
  .jadeResizeButton .v-button:active,
  .jadeResizeButton .v-button.v-pressed,
  .jadeResizeButton .v-pressed,
  .jadeResizeButton .v-button:active .v-button-wrap, 
  .jadeResizeButton .v-button:focus .v-button-wrap,
  .jadeResizeButton .v-button:active .v-button-wrap, 
  .jadeResizeButton .v-button:focus .v-button-wrap,
  .jadeResizeButton .v-button.v-pressed .v-button-wrap,
  .jadeResizeButton .v-button-wrap, 
  .jadeResizeButton .v-disabled.v-button .v-button-wrap,
  .jadeResizeButton .v-button .v-widget .jadeResizeButton .v-button-jadeResizeButton .v-pressed{
	background-repeat: repeat-x;
	background-image: url(../bs/images/btn_bgr_grey.png);
	background-color: transparent;
    outline: none;
  }
    
  .jadeResizeButton .v-button-wrap, 
  .jadeResizeButton  .v-disabled.v-button .v-button-wrap {
  	background: transparent;
	padding: 1px;
	display: inline;
  }
  
  .jadeResizeButton .v-button .v-icon {
	margin-left: -3px;
  }
  
  .jadeProgressBar{
  	height: 20px;
	width: 20px;
	background: url(../base/common/img/loading-indicator.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
  }

  .jadeProgressBarMedium{
  	height: 20px;
	width: 20px;
	background: url(../base/common/img/loading-indicator-delay.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
  }

  .jadeProgressBarSlow{
  	height: 20px;
	width: 20px;
	background: url(../base/common/img/loading-indicator-wait.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
  }
  
  .jadeAboutWindow{
/*  	margin-left: 10px;*/
  	margin-top: 10px;
  	padding-left: 10px;
  	padding-right: 10px;
  	
  }
}