<configuration debug="true">
  <property name="PATH_FOR_LOGFILES" value="/opt/web/jetty_base/logs"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS ZZZ}]: [%thread] %logger [%file:%line] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>${PATH_FOR_LOGFILES}/JadeHistoryViewer.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${PATH_FOR_LOGFILES}/JadeHistoryViewer.%d.log</fileNamePattern>
      <!-- keep 7 days' worth of history -->
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}]: [%thread] %logger [%file:%line] - %msg%n</pattern>
   	</encoder>
  </appender>
  <root level="debug">
    <appender-ref ref="STDOUT" />
  	<appender-ref ref="FILE"/>
  </root>
</configuration>